{% extends "layout.html" %}
{% block title %} - Dashboard{% endblock %}
{% block customCSS %}
<link rel="stylesheet" href="../static/css/geo.css">
<!-- JS lib - leaflet -->
<link rel="stylesheet" href="../static/css/leaflet.css" />
<!-- JQuery plugin - rangeSlider -->
<link rel="stylesheet" href="../static/css/ion.rangeSlider.css" />
<link rel="stylesheet" href="../static/css/ion.rangeSlider.skinFlat.css" />
{% endblock %}


{% block content %}
<div class="row col-lg-12">
    <div class="col-lg-12" id="map">
        <!--<div id="map"></div>-->
    </div>
    <div id="time-wrapper">
        <input type="text" id="range" value="" name="range" />
    </div>
</div>
{% endblock %}


{% block customJS %}
<!-- rangeSlider -->
<script src="../static/js/libs/moment.min.js"></script>
<script src="../static/js/libs/ion.rangeSlider.min.js"></script>
<script src="../static/js/dash-time.js"></script>
<!--leaftlet-->
<script src="../static/js/libs/leaflet.js"></script>

<script src="../static/js/geo.js"></script>

{% endblock %}